main {
  margin: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin: 1rem;
}

.input-container input {
  text-align: right;
  padding: 0 0.2rem;
}

.crud-block {
  text-align: right;
}

.crud-block button {
  margin: 0 1rem;
}

section {
  display: flex;
  justify-content: space-evenly;
}
